.sidebar {
  z-index: 3;
  position: absolute;
  background-color: white;
  height: 100%;
  width: 20%;
  box-shadow: black 2px -3px 8px;
  background-color: #efeded;
}

.filter-item {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #dcdcdc;
  background-color: white;
  cursor: pointer;

  img {
    width: 30px;
  }

  &:hover {
    background-color: #efeded;
  }

  &--selected {
    color: white;
    background-color: #0494ff;

    &:hover {
      background-color: #2892e0;
    }
  }
}

.filter-title {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  background-color: #343332;
  color: #bbbbbb;
}
